# === IntelliJ IDEA ===
.idea/
/*.iml
*.iws

# === OS-specific ===
.DS_Store
Thumbs.db

# === Logs & runtime ===
*.log
*.tmp
*.swp

# === Environment ===
.env.*

# === Git ===
*.orig

# === Docker ===
/docker-compose.override.yml
/docker-compose.local.yml

# === VS Code (pokud používáš občas) ===
.vscode/

#------User rules----------------------------------------
*.ini
**/idea/
*~