.TypeFilterMenu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  width: 80vw;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}