.menu {
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



.docsButton {
  background-color: orange;
}

.docsLabel {
  color: #ffffff;
}

.docsIcon {
  color: #ffffff;
}



.forumButton {
  background-color: #00a0eb;
}

.forumLabel {
  color: #ffffff;
}

.forumIcon {
  color: #ffffff;
}



.profileButton {
  background-color: #00a0eb;
}

.profileLabel {
  color: #ffffff;
}

.profileIcon {
  color: #ffffff;
}